'.source.tidalcycles':
  'pattern block':
    'prefix': 'p'
    'body': '''
      p$1 f s r d = d$1 $ do
        id $
          f $
            arrange flow s r (-9,9) ["~"
              ,"$2"
            ]# ch $1 
            |* vel d
    '''

  'stack':
    'prefix': 'stack'
    'body': '''
      stack [n "~"
          -- --
        ,$1
    '''

  'arrange':
    'prefix': 'q'
    'body': '''
    \n] |* vel 0.99
      -- --
    ,arrange flow s r (-9,9) ["~"
    ,"$1"
    ] |* vel 0.99
      -- --
    '''

  '':
    'prefix': 'arrange'
    'body': '''
      arrange flow s r (-9,9) ["~"
      ,"$1"
      ] |* vel 0.99
        -- --
    '''

  'drum machine':
    'prefix': 'dm'
    'body': '''
       -- RHYTHM
      p10 f d = d10 $ id
        $ f
        $ stack [ silence
          ,$1
          ] |* vel d
    '''

  'DFAM steptrig':
    'prefix': 'dfam'
    'body': '''
       -- DFAM STEPTRIG
      p11 f = d11 $ id
        $ mono
        $ f
        $ 0.036 <~ stack [ silence
        , steptrig $ "[1 2 3 4 5 6 7 8]/2"
        ]# ch 11
    '''